.table-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 40%;
  background-color: green;
  border: 5px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 80%;
  background-color: green;
  border-collapse: collapse;
  border: 1px solid white;
  color: white;
  
}

.table th, .table td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}

.table td.red {
  background-color: red;
  color: white;
}

.table td.black {
  background-color: black;
  color: white;
}

.table td.transparent {
  background-color: transparent;
  color: white;
}

.table td.karoRed {
  background-color: transparent;
  color: red;
  font-size: 200%;
}

.table td.karoBlack {
  background-color: transparent;
  color: black;
  font-size: 200%;
}